body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-154px;
  top:-310px;
  width:1358px;
  height:1080px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1358px;
  height:1080px;
}
#u1 {
  position:absolute;
  left:2px;
  top:532px;
  width:1354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:9px;
  top:0px;
  width:261px;
  height:160px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:160px;
}
#u3 {
  position:absolute;
  left:2px;
  top:72px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:328px;
  top:0px;
  width:876px;
  height:161px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:171px;
}
#u5 {
  position:absolute;
  left:2px;
  top:72px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:180px;
  width:290px;
  height:200px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:200px;
}
#u7 {
  position:absolute;
  left:2px;
  top:92px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:410px;
  top:180px;
  width:290px;
  height:200px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:200px;
}
#u9 {
  position:absolute;
  left:2px;
  top:92px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:230px;
  top:420px;
  width:300px;
  height:200px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:200px;
}
#u11 {
  position:absolute;
  left:2px;
  top:92px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:650px;
  top:420px;
  width:300px;
  height:200px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:200px;
}
#u13 {
  position:absolute;
  left:2px;
  top:92px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:810px;
  top:180px;
  width:290px;
  height:200px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:200px;
}
#u15 {
  position:absolute;
  left:2px;
  top:92px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:178px;
  top:380px;
  width:132px;
  height:29px;
  color:#0000CC;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:29px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:605px;
  top:380px;
  width:95px;
  height:29px;
  color:#0000CC;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:981px;
  top:380px;
  width:119px;
  height:29px;
  color:#0000CC;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:29px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:435px;
  top:620px;
  width:95px;
  height:29px;
  color:#0000CC;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:801px;
  top:620px;
  width:149px;
  height:29px;
  color:#0000CC;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:29px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
